body {
    background-color: #f7f7f8;
}

/* 此页面内公共样式 */
.red {
    color: #cf4444;
}

.pannel {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

/* 主体部分 */
.main {
    /* 80px: 为了内容不被底部pay区域盖住 */
    padding: 12px 11px 80px;
}


.user_msg {
    display: flex;
    align-items: center;

    padding: 15px 0 15px 11px;
}

.user_msg .loaction {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg,
            #6fc2aa 5%,
            #54b196 100%);
    margin-right: 10px;
    border-radius: 50%;


    text-align: center;
    line-height: 30px;
    color: #fff;
}

.user_msg .user {
    /* flex: 1: 自动填充满剩余空间，如果有左右两个地方设置了flex，按着flex-grow的规则分配剩余空间 */
    /* 参考帖子：https://blog.csdn.net/CSDN_156/article/details/121757099 */
    flex: 1;
}

.user_msg .user .top {
    display: flex;
}

.user_msg .user .top h5 {
    width: 70px;
    font-size: 15px;
    font-weight: 400;

}

.user_msg .user .top p {
    margin-top: 2px;
    font-size: 13px;
}

.user_msg .user .bottom {
    margin-top: 5px;
    font-size: 12px;
}

.user_msg .more {
    width: 44px;
    height: 44px;

    line-height: 44px;
    text-align: center;
    color: #808080;
}


/* 商品相关信息 */
.goods_msg {
    display: flex;
    padding: 11px 11px 11px 11px;
}

.goods_msg .pic {
    width: 85px;
    height: 85px;
    margin-right: 10px;
}

.goods_msg .info {
    flex: 1;

}

.goods_msg .info h5 {
    font-size: 13px;
    color: #226262;
    font-weight: 400;
}

.goods_msg .info p {
    width: 95px;
    height: 20px;
    margin: 5px 0;
    background-color: #f7f7f8;
    font-size: 12px;
    color: #888;
}

.goods_msg .info p span:first-child {
    margin-right: 5px;
}

.goods_msg .info .price {
    font-size: 12px;
}

.goods_msg .info .price i {
    font-size: 16px;
}

.goods_msg .info .price span:last-child {
    margin-left: 5px;
    color: #999;
    /* 作废价格 */
    text-decoration: line-through;
}

.goods_msg .count {
    width: 44px;
    height: 44px;
    /* background-color: pink; */
    text-align: center;
    line-height: 44px;
}

/* 物流信息 */
.trans {
    padding: 15px;
}

.trans div {
    display: flex;
    margin-bottom: 30px;
}

.trans div:nth-child(2n+1) {
    justify-content: space-between;
}

.trans div:nth-child(2) h5 {
    margin-right: 20px;
}

.trans h5,
.trans p {
    font-size: 13px;
    color: #262626;
    font-weight: 400;
}

.trans div:nth-child(2) p {
    font-size: 12px;
    color: #989898;
}

.trans div:last-child {
    margin-bottom: 10px;
}

/* 收款信息 */

.money {
    padding: 15px;
}
.money div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 400;
}

.money div h5 {
    font-weight: 400;
}

.money div:last-child span {
    color: #cf4444;
}





/* 底部pay */
.pay {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;
    background-color: #ffffff;


    /* fixed定位不遮挡内容，与上面主体对应 */
    padding: 0 11px;
    border-top: 1px solid #ededed;
}

.pay .left {

    font-size: 12px;

}

.pay .left i {
    width: 56px;
    font-size: 20px;
    font-weight: normal;

}

.pay .right a {
    display: block;

    width: 91px;
    height: 35px;
    background-image: linear-gradient(90deg,
            #6fc2aa 5%,
            #54b196 100%);
    border-radius: 3px;


    font-size: 13px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
}